<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;1,100&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/74273dfa33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>♻️Moda Circular Argentina </title>
</head>
<body>
    <header>
        <div>
           <span class="icon-header-1"><i class="fas fa-bars"></i></span>
           <span class="icon-header-2"><i class="fa-solid fa-basket-shopping"></i></span>
        </div>
    </header>
    <main>
        <img class="image-header" src="/img/image-header.jpeg" alt="Girls Clothes">
         <div class="search">
           <p class="Comprar-boton"> COMPRAR</p>
         </div>
         <h2> <em><u>Acabar</u> con el desperdicio de moda</em></h2>
         <p class="conciusness">Nuestra mision es simple: Acabar con el residuo de la moda
            rescatando, reutilizando y reciclando residuos textiles en armarios.
         </p>
    </main>
</body> 
</html>